node_modules/
coverage/
package-lock.bak
*.bak
*.log
test-report.xml
ignore/
build/

# Editor directories and files
.idea
.vscode/*
!.vscode/launch_template.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vim files
*~
src/routes.ts
src/swagger.json
.env